/******* Default styles, based on big screens 700px-> **********/
/***************************************************************/
/* Styles designed for 3 screen sizes:
 * big: 700px -> (desktop, laptop)
 * medium: 380-700px ()
 * small: <- 380px (iPhone5, iPhone6)
*/

/* Adjusting the width of the description container
 * to be around 80 characters -> improves readability
 */
body {
  width: 100%;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Source Sans Pro, sans-serif;
  font-size: 16px;
  background: #f5f7f8;
  color: #3e3e41;
}

span {
  font-weight: 600;
}

.site-canvas {
  margin: auto;
  width: 700px;
  background: #f5f7f8;
}
@media (max-width: 700px) {
  .site-canvas {
    width: 100%;
  }
}

/*** HEADER BANNER ************************************ HEADER BANNER ***********/
.header-banner-container {
  width: 100%;
  max-height: 28rem;
  overflow: hidden;
}
@media (max-width: 700px) {
  .header-banner-container {
    max-height: 20rem;
  }
}

.header-banner-container .banner-image {
  width: 100%;
  object-fit: cover;
  max-height: 21rem;
  opacity: 0.8;
}
@media (max-width: 700px) {
  .header-banner-container .banner-image {
    max-height: 15rem;
  }
}
  
/*** JOB INTRO BOX ************************************ JOB INTRO BOX ***********/
.header-banner-container .job-intro-box {
  background: white;
  width: 60%;
  margin: auto;
  padding: 0.4rem;
  position: relative;
  border-radius: 0.2rem;
  top: -7rem;
  box-shadow: 0 0 0 1px rgba(0,0,0,0.15), 0 2px 3px rgba(0,0,0,0.1);
}
@media (max-width: 700px) {
  .header-banner-container .job-intro-box {
    padding: 0 0 0.1rem 0;
    top: -6rem;
  }
}
@media (max-width: 380px) {
  .header-banner-container .job-intro-box {
    padding: 0 0 0.1rem 0;
    top: -4.5rem;
  }
}

.header-banner-container .headline-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: stretch;
}
@media (max-width: 700px) {
  .header-banner-container .headline-container {
    flex-direction: column;
  }
}

.company-logo {
  max-width: 100%;
  height: auto;
  padding: 0.8rem 0 0.4rem 0;
  margin: auto;
}
@media (max-width: 700px) {
  .company-logo {
    max-width: 30%;
    padding: 1rem 0 0 0;
  }
}

.headline-container .headline-text {
  padding: 1.3rem 0 1rem 0.2rem;
  margin: auto;
  font-size: 0.6rem;
  line-height: 0.5rem;
  text-align: left;
}
@media (max-width: 700px) {
  .headline-container .headline-text {
    padding: 0 0 0.2rem 0;
    text-align: center;
  }
}
@media (max-width: 380px) {
  .headline-container .headline-text {
    padding: 0 0 0.2rem 0;
    text-align: center;
  }
}

.headline-text h1 {
  color: #001e43;
  font-size: 1.6rem;
}
@media (max-width: 700px) {
  .headline-text h1 {
    font-size: 1.2rem;
  }
}
@media (max-width: 380px) {
  .headline-text h1 {
    font-size: 1rem;
  }
}

.headline-text h2 {
  padding: 0.5rem 0 0.3rem 0;
  color: #00c4b1;
  font-size: 1.3rem;
}
@media (max-width: 700px) {
  .headline-text h2 {
    padding: 0.05rem;
    font-size: 1rem;
  }
}
@media (max-width: 380px) {
  .headline-text h2 {
    padding: 0;
    margin-top: -0.1rem;
    font-size: 0.9rem;
  }
}


.headline-text p {
  margin-top: 0.6rem;
  font-size: 0.9rem;
}
@media (max-width: 700px) {
  .headline-text p {
    margin-top: -0.2rem;
    font-size: 0.8rem;
  }
}
@media (max-width: 380px) {
  .headline-text p {
    margin-top: -0.2rem;
    margin-bottom: 0.2rem;
    font-size: 0.7rem;
  }
}

/*** BUTTONS ******************************************** BUTTONS ******************/
.job-intro-box .button-container {
  margin: 0.2rem 0.4rem 0.8rem 0.4rem;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}
@media (max-width: 700px) {
  .job-intro-box .button-container {
    margin: 0 0.4rem 0.4rem 0.4rem;
  }
}
@media (max-width: 380px) {
  .job-intro-box .button-container {
    margin: 0.2rem 0.2rem 0.2rem 0.2rem;
  }
}

.button-container .button-a {
  flex-grow: 1;
}

.button-container .button, .application-info-box .button {
  box-sizing: border-box;
  color: #001e43;
  font-weight: 700;
  font-size: 1.1rem;
  background: white;
  border: 0.08rem solid #001e43;
  border-radius: 0.2rem;
  min-width: 1.4rem;
  padding: 0.5rem;
  text-align: center;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
  cursor: pointer;
}
@media (max-width: 700px) {
  .button-container .button, .application-info-box .button {
    font-size: 1rem;
    padding: 0.3rem;
  }
}
@media (max-width: 380px) {
  .button-container .button, .application-info-box .button {
    font-size: 0.7rem;
    padding: 0.3rem;
  }
}

.button-container .button.apply, .application-info-box .button.apply {
  text-align: center;
  background: #001e43;
  color: white;
  flex-grow: 4;
}
.button.apply p {
  margin: 0;
}
.button-a .button-text {
  display: inline;
  padding-inline-start: 0.4rem;
}
@media (max-width: 700px) {
  .button-a .button-text {
    display: none;
  }
}
/*** BUTTON HOVERS ************************ BUTTON HOVERS *******/
.button.like:hover, .button.like:active, .button.share:hover, .button.share:active {
  color: white;
  background: #001e43;
}
.button.apply:hover, .button.apply:active {
  color: #001e43;
  background: white;
}
a.button-a:link, a.button-a:visited {
  color: inherit;
  background: inherit;
  text-decoration: inherit;
} 

/*** JOB DESCRIPTION *********************************** JOB DESCRIPTION ***********/
.description-container {
  position: relative;
  margin: 1rem 2rem 2rem 2rem;
  background: white;
  border-radius: 0.2rem;
  box-shadow: 0 0 0 1px rgba(0,0,0,0.15), 0 2px 3px rgba(0,0,0,0.1);
}
.description-container h2 {
  color: #001e43;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.3rem;
  display: flex;
  border-bottom: 2px solid rgba(0,0,0,0.1);
  padding: 1rem;
  margin: 0;
  justify-content: center;
  align-items: center;
}
@media (max-width: 700px) {
  .description-container h2 {
    font-size: 1rem;
    padding: 0.8rem;
    margin: 0;
  }
}
@media (max-width: 380px) {
  .description-container h2 {
    font-size: 0.9rem;
    padding: 0.6rem;
    margin: 0;
  }
}

/* Styling for the job description area to follow 
show more, show less functionality */
.description-text-box {
  display: block;
  max-height: 15rem;
  overflow: hidden;
}
@media (max-width: 700px) {
  .description-text-box {
    max-height: 13rem;
  }
}
@media (max-width: 380px) {
  .description-text-box {
    max-height: 11rem;
  }
}

.description-text-box.less::before {
  content: "";
  position: absolute;
  top: 9rem;
  left: 0;
  height: 6rem;
  width: 100%;
  background: linear-gradient(rgba(255,255,255,0),rgba(255,255,255,1));
}
@media (max-width: 700px) {
  .description-text-box.less::before {
    top: 7.8rem;
    height: 5.1rem;
  }
}
@media (max-width: 380px) {
  .description-text-box.less::before {
    top: 6.6rem;
    height: 4.4rem;
  }
}

.description-text-box.all {
  max-height: 100%;
}
.description-text-box .description-text {
  padding: 0 1rem 0 1rem;
  font-size: 1rem;
}
@media (max-width: 380px) {
  .description-text-box .description-text {
    padding: 0 0.7rem 0 0.7rem;
    font-size: 0.9rem;
  }
}

.description-text-box h3, .application-info-box .apply-date {
  color: #00c4b1;
  font-weight: bold;
  font-size: 1.3rem;
}
@media (max-width: 700px) {
  .description-text-box h3, .application-info-box .apply-date {
    font-size: 1.1rem;
  }
}
@media (max-width: 380px) {
  .description-text-box h3, .application-info-box .apply-date {
    font-size: 1rem;
  }
}

.description-text-box span {
  font-weight: bold;
}
.description-text-box .apply-heading {
  font-weight: bold;
  color: red; /* #3e3e41;*/
}
.description-text a {
  color: #00c4b1;
  text-decoration: none;
}
.description-text a:link, .description-text a:visited {
  color: #00c4b1;
  text-decoration: none;
}
.description-text a:hover, .description-text a:active {
  color: #001e43;
  text-decoration: none;
}
.application-info-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-top: 2px solid rgba(0,0,0,0.1);
  padding: 1rem;
  justify-content: center;
  align-items: center;
}
.application-info-box .date-box {
  border-radius: 0.2rem;
  box-shadow: 0 0 0 1px rgba(0,0,0,0.15), 0 2px 3px rgba(0,0,0,0.1);
  box-sizing: border-box;
  color: #001e43;
  font-weight: 700;
  font-size: 1.1rem;
  background: white;
  border-radius: 0.2rem;
  min-width: 1.4rem;
  padding: 0.5rem;
  text-align: center;
  margin: 0.4rem;
}
.application-info-box .button.apply {
  margin: 0.4rem;
}
.toggle-link-button {
  display: flex;
  border-top: 2px solid rgba(0,0,0,0.1);
  padding: 0.5rem;
  justify-content: center;
  align-items: center;
  color: #00c4b1;
  font-weight: 700;
  cursor: pointer;
}
.toggle-link-button .fa-chevron-up, .toggle-link-button .fa-chevron-down {
  padding-left: 0.5rem;
}
.toggle-link-button:hover {
  color: #001e43;
}

