/**************************** app.css **************************/
/************************** Common styling *********************/

body {
  width: 100%;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Source Sans Pro, sans-serif;
  font-size: 16px;
  background: silver;
}

span {
  font-weight: 600;
}

/* HEADER BANNER */
.header-banner-container {
}
.headline-container {
  position: relative;
}
.header-banner-container img {
  width: 100%;
}

/* JOB DESCRIPTION */
.description-container {
  margin: 2rem;
  padding: 1rem 1.5rem 1rem 1.5rem;
  background: white;
}
/* Styling for the job description area to follow 
show more, show less functionality */
.description-text-box {
  display: block;
  max-height: 30%;
  overflow: hidden;
}
.description-text-box.all {
  max-height: 100%;
}
.toggle-link-button {
  padding: 1rem;
}
.toggle-link-button:hover {
  color: #00c4b1;
}

/**************************** app-small.css **************************/
/************* Styling specific to small screens ≤ 500px *************/
